#footer {
  background-color: $aged-primary-dark-color;
}

#footer-text {
  display: grid;
  grid-template-columns: auto;

  grid-template-areas:
    'version generatedwith'
    'lastupdate generatedwith';
}

#footer-text, #footer-text a {
  font-family: "Open Sans", "DejaVu Sans",sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: small;
  color: rgba($aged-primary-text-color, 0.3);
  text-rendering: optimizeLegibility;
}

#version {
  grid-area: version;
}

#last-update {
  grid-area: lastupdate;
}

#generated-with {
  grid-area: generatedwith;
  text-align: right;
}

@supports (display: grid) {
  @media only screen and (min-width: 768px) {
    #generated-with {
      padding-right: 100px;
    }
  }
}
