@supports (display: grid) {
  @media only screen and (min-width:768px) {
    #header {
      max-width: $docwidth;
      padding-top: 40px;
    }

    .toc2 > #header {
      max-width: $docwidth - 200px;
      padding-top: 40px;
    }
  }
}

#header #revnumber {
	font-weight: 700;
	font-size: 1.6rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $backgorund-color;
  min-width: 160px;
  @include elevation(8);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 2px;
}

.details:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: $text-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  color: $aged-secondary-text-color;
  background-color:$aged-secondary-color;
  border-radius: 2px;
}
