#main-nav {
  position: sticky;
  position: -webkit-sticky;
}

#toc.toc, #toc.toc2{
  position: relative;
}

#to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1020;
}

#header, #footnotes, #footer {
  width: 100vw;
}

@supports not (display: grid) {
  body {
    padding-left: 0px !important;
  }

  #search {
    width: 300px;
  }
}

@supports (display: grid) {
  body {
    display:-ms-grid;
    display: grid;
    grid-template-columns: auto;

    grid-template-areas:
      'topheader'
      'mainnav'
      'header'
      'menu'
      'content'
      'footnotes'
      'footer';

    height: 100%;
  }

  @media print {
    body {
      display: block;
      height: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    body.toc2 {
      padding-left: 0;
      padding-right: 0;
      -ms-grid-columns:20% auto;
      grid-template-columns: 20vw auto;

      grid-template-areas:
        'topheader topheader'
        'mainnav mainnav'
        'menu header'
        'menu content'
        'menu footnotes'
        'footer footer';
    }

    body.toc2.toc-right {
      padding-left: 0;
      padding-right: 0;
      -ms-grid-columns: 20% auto;
      grid-template-columns: auto 20vw;

      grid-template-areas:
        'topheader topheader'
        'mainnav mainnav'
        'header menu'
        'content menu'
        'footnotes menu'
        'footer footer';
    }

    #header, #content, #footnotes, #footer {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  #top-header{
    -ms-grid-row:1;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-area: topheader;
  }

  #main-nav {
    -ms-grid-row:2;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-area: mainnav;
    position: sticky;
    position: -webkit-sticky;
  }

  @media print {
    #main-nav {
      display:none;
    }
  }

  #toc.toc, #toc.toc2{
    -ms-grid-row:3;
    -ms-grid-column:1;
    -ms-grid-row-span:3;
    grid-area: menu;
    position: sticky;
    position: -webkit-sticky;
  }

  #header {
    -ms-grid-row:3;
    -ms-grid-column:2;
    grid-area: header;
  }

  #content {
    -ms-grid-row:4;
    -ms-grid-column:2;
    grid-area: content;
  }

  #footnotes {
    -ms-grid-row:5;
    -ms-grid-column:2;
    grid-area: footnotes;
  }

  #footer {
    -ms-grid-row:6;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-area: footer;
    z-index: 1010;
  }

  @media print {
    #footer {
      display:none;
    }
  }
}
