#main-nav {
  font-family:"Open Sans","DejaVu Sans",sans-serif;
  background-color: $aged-primary-light-color;
  color: $aged-primary-text-color;
  z-index: 1000;
  padding-top: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  @include elevation(4);
  position: relative;
  display: flex;
  flex-flow: row wrap;
  top: 0;
  width: 100%;
  max-height: 100vh;

  cursor: default;

  li  {
    list-style: none;
  }

  a {
      color: $aged-primary-text-color;
      text-decoration: none;

      &:hover {
        color: darken($aged-primary-text-color, 30%);
      }
  }

  .icon {
    font-size: 2em;
    margin: 5px;
  }
}

#main-nav > ul > li > p:only-child:after {
  content: '';
}

#toggle-menu {
  display: none;
}

#search {
  display: none;
}

#search-input:not(:valid) ~ #clear_search_field {
	display: none;
}

#clear_search_field {
  position: absolute;
  top: 3px;
  right: 30px;
  bottom: 0;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

@supports (display: grid) {
  #toggle-menu {
    display: block;
  }

  #search {
    display: block;
    width: 100%;
    color: rgba($text-color,0.3);
    white-space: normal;

    input {
      -webkit-box-sizing: border-box;
    	box-sizing: border-box;
      width: 100%;
      border-radius: 5px;
      height: 4rem;
      font-size: 1.875rem;
      border-style: none;
      -webkit-appearance: none
    }
  }

  #search-results {
    position: absolute;
    left: 10px;
    display: none;
    z-index: 1000;
    background: white;
    width: 80%;
    max-width: 920px;
    padding: 2rem;
    overflow: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    max-height: 70vh;
  	-webkit-overflow-scrolling: touch;
    @include elevation(8);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: $aged-secondary-color;

    small {
      font-size: 1.2rem;
    	line-height: 1em;
    	color: lighten($text-color, 30%);
    }

    a, a:link, a:visited {
      color: $aged-secondary-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  #main-nav {
    li  {
      list-style: none;
    }

    a {
        color: $aged-primary-text-color;
        text-decoration: none;
    }

    .icon {
      font-size: 2em;
      margin: 5px;
      order: 0;
    }
  }

  #main-nav > ul {
    order: 2;
    overflow-y: auto;
    max-height: 80vh;
    width: 100%;
  }

  #search {
    margin: 3px;
    order: 1;
    width: calc( 100% - 60px );
  }

  .search-wrapper {
    width: calc(100vw - 50px);
  }

  #search-results{
    width: 90%;
  }
}

@media only screen and (min-width:768px) {
  #main-nav > ul {
    display:flex;
    align-items: flex-start;
  }
}

@supports (display: grid) {
  @media only screen and (min-width:768px) {

    #search-results{
      right: 24px !important;
      left: inherit !important;
    }

    #main-nav {
      white-space: nowrap;
      flex-flow: row;
      display: -webkit-box;
  		display: -ms-flexbox;
  		display: flex;
  		margin: 0 auto;
  		height: 40px;
  		max-height: 40px;
  		padding-left: 24px;
      padding-right: 24px;

      ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          list-style-type: none;

          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          position: relative;
          margin: 0;
        }
      }
    }

    #main-nav > ul > li:hover {
      background-color: $backgorund-color;
      border-bottom: 2px solid gray;
    }

    #main-nav > ul > li > a {
      color: $aged-primary-text-color;
      display: block;
      text-decoration: none;
    }

    #main-nav > ul > li > p {
      color: $aged-primary-text-color;
      display: block;
      line-height: 1em;
      padding: 0 24px;
      margin-bottom: 5px;
    }

    #main-nav > ul > li > p > a {
      color: $aged-primary-text-color;
      text-decoration: none;
      padding: 1.5rem 1rem;
    }

    #main-nav > ul > li:hover > a,
    #main-nav > ul > li:hover > p,
    #main-nav > ul > li:hover > p > a {
      color: $aged-primary-text-color;
    }

    #main-nav > ul > li > ul {
      background-color: $backgorund-color;
      border-top: 0;
      border-radius: 0 0 4px 4px;
      @include elevation(8);
      display: none;
      margin: 0;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      padding: 0 5px;
      min-width: 100%;
      z-index: 10;

      -webkit-transiton: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -transition: opacity 0.2s;
    }

    #main-nav > ul > li > ul {
      background-color: $backgorund-color;
      border-radius: 0 4px 4px 4px;
      @include elevation(8);
      margin-top: -42px;
    }

    #main-nav li:hover > ul {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    #main-nav > ul > li > ul li {
      display: block;
      position: relative;
    }

    #main-nav > ul > li > ul {
      border-top-style: solid;
    }

    #main-nav > ul > li > ul p {
      color: $aged-primary-text-color;
      display: block;
      padding-top: 6px;
      text-decoration: none;
      padding-left: 6px;
      padding-right: 6px;
    }

    #main-nav > ul > li > ul a,
    #main-nav > ul > li > ul p {
      color: $aged-primary-text-color;
      display: block;
      text-decoration: none;
      margin-bottom: 3px;
    }

    #main-nav > ul > li > ul a:hover {
      color: $aged-primary-text-color;
    }

    #main-nav > ul > li > ul li:hover > a,
    #main-nav > ul > li > ul li:hover > p {
      background-color: $aged-secondary-color;
    }

    #main-nav .icon {
      display: none;
    }

  	#main-nav > ul {
  		display: -webkit-box;
  		display: -ms-flexbox;
  		display: flex;
  		-webkit-box-align: end;
  		-ms-flex-align: end;
  		align-items: flex-end;
  		-webkit-box-pack: start;
  		-ms-flex-pack: start;
  		justify-content: flex-start;
  		margin: 0;
  		padding: 0;
  		margin-left: -8px
  	}
  	#main-nav > ul > li {
  		margin-bottom: 0;
  		border-bottom: none;
  		margin-right: 2.5rem;
  	}
  	#main-nav > ul > li:hover {
  		border: none;
  		background-color: initial
  	}
  	#main-nav ul li {
  		border: none
  	}
  	#main-nav > ul > li > p {
  		padding: 1.5rem 1rem;
  		-webkit-transition: .15s;
  		transition: .15s;
  		text-decoration: none;
  		white-space: nowrap;
  		-webkit-box-flex: 1;
  		-ms-flex: 1;
  		flex: 1;
  		display: block;
  		font-size: 1.625rem;
  		margin-bottom: 0;
  	}

  	#main-nav > ul > li > p:hover {
  		color: $aged-primary-text-color;
  		box-shadow: inset 0 -4px 0 lighten($aged-primary-light-color, 20%);
  	}

  	#main-nav > ul > li > p:active,
  	#main-nav > ul > li > p.active {
  		box-shadow: inset 0 -4px 0 $aged-secondary-light-color;
  		font-weight: normal
  	}
    #main-nav > ul > li.current_page > p
    {
  		box-shadow: inset 0 -4px 0 $aged-secondary-light-color;
    }

  	#main-nav > ul > li > p::after {
  		display: inline-block;
  		height: 9px;
      content: "\f0d7";
      font-size: 1em;
      vertical-align: top;
      font-family: "FontAwesome";
      padding-left: 3px;
  	}
  	#main-nav > ul > li > p:only-child:after {
  		display: none
  	}
  	#main-nav > ul > li > ul {
  		padding: 0;
  		border-radius: 0;
      @include elevation(8);
  		border-top-width: 5px;
      border-top-color: lighten($aged-primary-light-color, 20%);
  	}

    #main-nav > ul > li.current_page > ul {
      border-top-color: $aged-secondary-light-color;
    }

  	#main-nav > ul > li:hover > ul,
  	#main-nav > ul > li:focus-within > ul {
  		margin-top: -3px
  	}
    
  	#main-nav>ul>li> ul>* {
  		padding: 0;
  		margin-bottom: 0
  	}

    #main-nav > ul > li > ul p {
  		color: #2f353d;
  		font-size: 1.625rem;
  		min-width: 200px;
  		border-bottom: solid 1px #f3f3f3;
  		margin-bottom: 0;
  	}

    #main-nav > ul > li > ul a {
      color: #2f353d;
      text-decoration: none;
      padding: 1.625rem 2.125rem;
    }

    #main-nav > ul > li > ul p:hover,
  	#main-nav > ul > li > ul p:hover > * {
  		background-color: $aged-secondary-color;
  		color: $aged-secondary-text-color;
  	}
  	#main-nav>ul>li>ul li:last-child>p,
  	#main-nav>ul>li>ul li:last-child>p>a {
  		border-bottom: none
  	}

    #search {
      margin-left: auto;
      width: unset;

      input {
        width: 300px;
      }

      @supports (width: unset) {
        input {
          width: unset;
        }
      }
    }
  }
}
