#to-top-btn {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba($aged-secondary-color,0.6);
  color: $aged-secondary-text-color;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 1s;
  @include elevation(6);

  &:hover{
    background-color: $aged-secondary-color;
    @include elevation(12);
  }
}

@media print {
  #to-top-btn {
    display: none;
  }
}
