#toc.toc, #toc.toc2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5em;
  padding-left:5%;
  padding-top: 2em;
  padding-bottom: 3em;
  z-index: auto;
  @include elevation(0);
}

#toc {
  a {
    color: lighten($text-color,30%);
    &:hover {
      font-style: normal;
    	text-decoration: none;
    	color: $aged-secondary-light-color;
    }
  }

  li {
    line-height: 1;
    margin-top: 0.7em;

    &.open > a.active {
      color: $aged-secondary-light-color;
    }

    &.open > a {
      color: $aged-secondary-light-color;
    }
  }

  ul {
    margin: 0;
  }
}

#toc.toc2 > ul{
  margin-bottom: 30vh;
}

ul.sectlevel1 li > ul {
    display: block;
}

ul.sectlevel1 li a {
    color: black;
    text-decoration: none;
}

ul.sectlevel1 li {
    list-style-type: none;
    position: relative;
}

.active {
  font-weight: bold;
}

@supports not (display: grid) {
  z-index: 0 !important;
}

@supports (display: grid) {
  @media only screen and (min-width: 768px) {
    #toc.toc2 {
      height: 100vh;
    }

    #toc.toc2 {
      padding-left: 2em;
      width: 100%;
      z-index: 500;
      top: 40px;

      #toctitle {
          padding-top: 40px;
      }
    }

    ul.sectlevel1 li ul {
        transition:max-height 0.5s ease-in-out;
        max-height:0;
        overflow: hidden;
    }

    ul.sectlevel1 li.forceopen > ul {
        max-height: 100%;
    }

    ul.sectlevel1 li.open > ul {
        max-height:100%;
    }

    ul.sectlevel1 li a:before {
        height: 1em;
        padding:0 .1em;
        font-size: .8em;
        display: block;
        position: absolute;
        left: -1.3em;
        top: .2em;
    }

    ul.sectlevel1 li > a:not(:last-child):before {
        content: "\f0da";
        font-family: "FontAwesome";
        font-weight: 900;
        margin-left: 5px;
    }

    ul.sectlevel1 li.open > a:not(:last-child):before {
        content: "\f0d7";
        font-family: "FontAwesome";
        font-weight: 900;
        margin-left: 5px;
    }

    ul.sectlevel1 li.forceopen > a:not(:last-child):before {
        content: "\f147";
        font-family: "FontAwesome";
        font-weight: 600;
        margin-left: 2px;
    }
  }
}
