@import "settings/asciidoctor";
@import "settings/aged";
@import "components/asciidoc";
@import "components/awesome-icons";

html {
	height: auto;
	min-height: 100vh;
	font-size: 8px;
	line-height: 3rem;
	-webkit-text-size-adjust: 100%;
	font-family:"Open Sans","DejaVu Sans",sans-serif;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
  color: $text-color;
}

mark {
	background: orange;
  color: black;
}

*,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
	 body {
	 	padding-left: 0px !important;
	}
}

body {
	min-height: 100vh;
	font-size: 2rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
  scroll-behavior: smooth;
}

pre.nowrap {
  max-width: 100%
}

table.tableblock {
  max-width:100%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.inner-addon {
	position: absolute;
	top: auto;
	bottom: auto;
	margin: auto;
	padding-top: .9rem;
	padding-left: 0.5rem;
	color: $text-color;
}

/* add padding  */
input.left-addon { padding-left:  25px; }
input.right-addon { padding-right: 25px; }
input {
  -webkit-box-shadow: none;
  box-shadow: none;
}

// **** Layout ****
@import "settings/content";
@import "settings/footer";
@import "settings/header";
@import "settings/toc";
@import "settings/main-nav";
@import "settings/top-header";
@import "settings/to_the_top";
@import "settings/layout";
