<!DOCTYPE HTML>
<html lang='<%= lang %>'>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='refresh' content='0; url=<%= index %>'>
    <script type='text/javascript'>
        window.location.href = '<%= index %>'
    </script>
    <link rel='apple-touch-icon' sizes='180x180' href='/images/favicon/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/images/favicon/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/images/favicon/favicon-16x16.png'>
    <link rel='manifest' href='/images/favicon/site.webmanifest'>
    <link rel='mask-icon' href='/images/favicon/safari-pinned-tab.svg' color='#5bbad5'>
    <title>Page Redirection</title>
  </head>
  <body>
    <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
    If you are not redirected automatically, follow this <a href='<%= index %>'>link to <%= index %></a>.
  </body>
</html>
