.terminal > .content > pre > span {
  white-space: nowrap;
}

.terminal > .content > pre:not(.highlight) {
    background-color: black;
    color: white;
}

.terminal > .content > pre:not(.highlight) > .output {
    color: gray;
}

.terminal:hover .clipboard{
  visibility:visible
  }

.clipboard{
  position:absolute;
  top:10px;
  right:10px;
  visibility:hidden;
  cursor:pointer
}

.clipboard:active{
  color:#63a4ff
}
