<div id="main-nav">
  <%= nav %>
  <script defer type="text/javascript" src="js/index_<%= lang %>.js"></script>
  <div id="search">
    <form autocomplete="off">
      <i class="inner-addon fa fa-search"></i>
      <input type="search" id="search-input" placeholder="Search docs" class="left-addon" required>
      <button id="clear_search_field" class="input_field_button" type="reset">
        <i class="fa fa-times-circle"></i>
      </button>
    </form>
    <div id="search-results"></div>
  </div>
  <a id="toggle-menu" href="javascript:void(0);" onclick='toggle_main_nav()' class="icon right"><i class="fa fa-bars"></i></a>
</div>
