<meta name="generator" content="AGED 1.0">

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/elasticlunr.min.js"></script>
<script defer src="js/jquery.mark.min.js"></script>
<script defer src="js/polyfill.min.js"></script>

<link rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png'>
<link rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png'>
<link rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png'>
<link rel='manifest' href='images/favicon/site.webmanifest'>
<link rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#5bbad5'>
<meta name='msapplication-TileColor' content='#da532c'>
<meta name='theme-color' content='#ffffff'>
